<a href="https://colab.research.google.com/github/Ikenergy/hello-world/blob/master/HamoyeInternStageA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##

In [ ]:
import pandas as pd

In [ ]:
df_fuel = pd.read_csv('https://raw.githubusercontent.com/WalePhenomenon/climate_change/master/fuel_ferc1.csv')
df_fuel.describe()

       utility_id_ferc1  ...  fuel_cost_per_mmbtu
count      29523.000000  ...         29523.000000
mean         118.601836  ...            19.304354
std           74.178353  ...          2091.540939
min            1.000000  ...           -41.501000
25%           55.000000  ...             1.940000
50%          122.000000  ...             4.127000
75%          176.000000  ...             7.745000
max          514.000000  ...        359278.000000

[8 rows x 7 columns]

In [ ]:
df_fuel.iloc[:, 4].describe()

count     29523
unique        6
top         gas
freq      11486
Name: fuel_type_code_pudl, dtype: object

In [ ]:
df1_fuel = df_fuel.loc[:, ['fuel_type_code_pudl', 'fuel_cost_per_unit_burned']]
print(df1_fuel.groupby('fuel_type_code_pudl').count())

                     fuel_cost_per_unit_burned
fuel_type_code_pudl
coal                                      8547
gas                                      11486
nuclear                                    818
oil                                       8064
other                                      167
waste                                      441

In [ ]:
df_fuel.isnull().sum()

record_id                         0
utility_id_ferc1                  0
report_year                       0
plant_name_ferc1                  0
fuel_type_code_pudl               0
fuel_unit                       180
fuel_qty_burned                   0
fuel_mmbtu_per_unit               0
fuel_cost_per_unit_burned         0
fuel_cost_per_unit_delivered      0
fuel_cost_per_mmbtu               0
dtype: int64

In [ ]:
import matplotlib.pyplot as plt